# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
database.db
*.sqlite3

# OS
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log

# Environment Variables
.env
.env.local

# Editor
.vscode/
.idea/

# Project Specific
test_images/
uploads/
history_uploads/
feedback_images/
video_batch_results.csv
*.bak


# Documentation (Ignore all)
*.md
documentation/
!README.md
!START_PROJECT.md
!PROJECT_ARCHITECTURE.md

# Specific Files
LICENSE
PULL_REQUEST_TEMPLATE.md
bug_report.yml
config.yml
feature_request.yml
model/DETAILED_HISTORY.md
model/FACEFORENSICS_GUIDE.md
model/MODEL_CARD.md
model/TRAINING_HISTORY.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
CHANGELOG.md
LICENSE
.github/

# Large Model Files
# *.safetensors <-- Commented out to allow Git LFS
*.pth
*.pt
# model/results/
!model/results/checkpoints/
model/results/
model/checkpoints/

# Project Specific
visualizations/
generate_visualizations.py
plots/!README.md
